/Forex/oanda/history/*
/Forex/oanda/personal_settings.json
Forex/oanda/dev_settings.json
Forex/Prebuilt/*
Forex/oanda/simRust/*
Crypto/node_modules/*
Crypto/database
Crypto/Keys/venv/*
Forex/oanda/pyenv